@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --text: #000000;
    --background: #ffffff;
    --buttons-footer: #297373;
    --button-hover_active-item: #41B4B4;
    --footer-icons: #41B4B4;
    --text-input-placeholder: rgba(0, 0, 0, 0.5);
    --text-button: #ffffff;
}

html{
    background-color: var(--background);
    font-family: "Inknut Antiqua", serif;
    color: var(--text);
    overflow-x: hidden;
}

/* Landing Page */

.landing-page-body{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin-top: 10.742vh;
    flex-wrap: wrap;
}

.title-buttons{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.title{
    font-size: 6.25vh;
    margin-bottom: 0;
}

.landing-page-description{
    display: flex;
    flex-direction: row;
    width: 30.833vw;
}

.description{
    font-size: 1.953vh;
    line-height: 3.906vh;
}

.info-icon{
    height: 2.441vh;
    cursor: pointer;
}

.navigation-button{
    background-color: var(--buttons-footer);
    width: 25.278vw;
    transition: all 0.5s;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 7.422vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.944vw;
    font-size: 2.344vh;
    height: 8.789vh;
    text-decoration: none;
    color: var(--text-button);
    &:hover {
        background-color: var(--button-hover_active-item);
        transform: scale(1.1);
        box-shadow: 0px 10px 10px 0px rgba(41, 115, 115, 70%);
    }
}

.button-icon{
    height: 4.395vh;
}

.landing-page-image{
    height: 65.43vh;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

@keyframes slideFromRight {
    from {
        opacity:    0;
        transform:  translateX(100%);
    }
    to {
        opacity:    1;
        transform:  translateX(0);
    }
}

/* Pre and Post painting general style */

.body-head{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
}

.return-button{
    background-color: var(--buttons-footer);
    width: 16.736vw;
    transition: all 0.5s;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 5.078vh;
    margin-left: 5.764vw;
    margin-right: 11.111vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.542vw;
    font-size: 1.953vh;
    height: 5.566vh;
    text-decoration: none;
    color: var(--text-button);
    &:hover {
        background-color: var(--button-hover_active-item);
        transform: scale(1.05);
    }
}

.return-icon{
    height: 3.711vh
}

.body-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 32.708vw;
    .title{
        font-size: 6.25vh;
        margin-top: -3.027vh;
    }
    .subtitle{
        font-size: 3.906vh;
        margin-top: -6vh;
    }
    .description{
        font-size: 1.953vh;
        margin-top: -1vh;
        text-align: center;
        line-height: 3.125vh;
    }
}

.central-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 19vh;
}

.action-button{
    background-color: var(--buttons-footer);
    transition: all 0.5s;
    cursor: pointer;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.944vw;
    font-size: 2.344vh;
    text-decoration: none;
    color: var(--text-button);
    padding: 15px;
    &:hover {
        background-color: var(--button-hover_active-item);
        transform: scale(1.1);
        box-shadow: 0px 10px 10px 0px rgba(41, 115, 115, 70%);
    };
}

/* Crop Image */

.crop-image{
    width: 52.148vh;
    margin: 3.809vh auto auto auto;
}

.image-crop{
    width: 52.148vh;
    height: 52.148vh;
}

.bottom-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cropper-view-box {
    outline: 2px solid var(--buttons-footer) !important;
    outline-color: var(--buttons-footer) !important;
}

.cropper-point {
    background-color: var(--buttons-footer) !important;
}

.cropper-line {
    background-color: var(--buttons-footer) !important;
}

/* Select colors for sketch page */

.colors-sketchedimage{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
}

.colors-container{
    display: flex;
    flex-direction: column;
    gap: 1.855vh;
}

.colors{
    display: flex;
    align-items: flex-start;
    gap: 1.319vw;
}

input[type="text"] {
    padding: 8px;
    border: 2px solid red;
    border-radius: 5px;
    width: 23.889vw;
}

.edit-input{
    width: 15vw
}

input[type="color"] {
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 5px;
}

.add-btn {
    background-color: red;
    color: white;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
}

.part-item {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #222;
    padding: 5px;
    border-radius: 5px;
}

.parts-container {
    max-height: 70vh;
    overflow-y: auto;
    padding-bottom: 10px;
}

.parts-container::-webkit-scrollbar {
    width: 6px;
}

.parts-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 3px;
}

.color-box {
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

.part-name {
    flex-grow: 1;
}

.edit-btn, .delete-btn {
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    width: 30px;
    height: 30px;
    text-align: center;
}

#partsList {
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
    width: 100%;
    height: 50vh;
}

/* Loading spin */

.loader {
    width: 2.344vh;
    height: 2.344vh;
    border: 3px solid var(--text);
    border-bottom-color: var(--background);
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Frame Page */

.file-list {
    width: 32.222vw;
    border: 5px solid var(--buttons-footer);
    border-radius: 20px;
    padding: 10px;
    background-color: var(--background);
    margin-left: 6.944vw;
    max-height: 70vh;
    overflow-y: auto;
    padding-bottom: 10px;
}

.file-list::-webkit-scrollbar {
    width: 6px;
}

.file-list::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 3px;
}

.file-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
    background-color: var(--background);
    border: 1px solid var(--buttons-footer);
    cursor: pointer;
    transition: background-color 0.3s;
    gap: 1.875vw;
}

.file-item:hover {
    background-color: var(--footer-icons);
}

.file-item.active {
    background-color: var(--button-hover_active-item);
}

.file-icon {
    margin-right: 1.528vw;
    width: 1.736vw;
}

.file-item.upload-item {
    border: 2px dashed var(--buttons-footer);
    background: var(--background);
    justify-content: center;
    align-items: center;
}

.preview-section {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 5.859vh;
}

.image-preview {
    overflow: hidden;
    height: 30.957vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
}

.image-preview img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.action-buttons {
    display: flex;
    flex-direction: column;
    gap: 7.422vh;
    align-items: center;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    border: 2px solid var(--buttons-footer);
}

.modal-content {
    background: var(--background);
    border-radius: 8px;
    max-width: 90%;
    max-height: 90%;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    padding: 20px;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 30px;
    color: black;
    cursor: pointer;
}

#imageContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    max-height: 70vh;
    overflow: hidden;
}

#imageCanvas {
    display: block;
    max-width: 100%;
    max-height: 70vh;
    object-fit: contain;
    cursor: crosshair;
    pointer-events: auto;
}

#segmentedImage{
    height: 44.238vh;
    width: auto;
    max-width: 31.458vw;
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: var(--buttons-footer);
  outline: none;
  opacity: 0.7; 
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: 25px; 
  height: 25px;
  border-radius: 50%;
  background: var(--button-hover_active-item);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px; 
  border-radius: 50%;
  background: var(--button-hover_active-item);
  cursor: pointer;
}

.slider-text{
    justify-content: space-between;
    display: flex;
}

.adjustment-buttons{
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

 /* Footer */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--buttons-footer);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5.273vh;
    gap: 4.097vw;
}

.footer-text{
    line-height: 2.344vh;
    text-align: center;
    font-size: 1.563vh;
    color: var(--text-button);
}

.footer-icon-link{
    cursor: pointer;
    background-color: var(--footer-icons);
    padding: 1.27vh;
    border-radius: 10px;
}

.footer-icon{
    height: 1.953vh;
}
