<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>MiniAid</title>
        <link rel="stylesheet" type="text/css" href="../static/styles.css">
        <link rel="icon" type="image/x-icon" href="../static/favico.png">
        <script src="../static/script.js"></script>
    </head>
    <body>
        <div class = "body-head">
            <a class = "return-button" href="/">
                <img src="../static/icons/arrow.png" class="return-icon">
                <h4>
                    Return
                </h4>
            </a>
            <div class = "body-text">
                <span class = "title">
                    MiniAid
                </span>
                <span class="subtitle">
                    About
                </span>
            </div>
            
        </div>
        
        <div class="container-about">

            <div class="section row">
                <div class="text">
                <p>The purpose of this tool is to aid miniature painters in their pre and post painting process. In the pre, upload an image of the miniature you want to paint, and select the colors
                    it will have, then use the PDF as a guide. You can also color the black-white figure (it's fun!). In the post, you can segment the miniature in the pose you want to
                    share in your social media. You also can (and this is the most fun part), take images from multiple angles and use them to 3D reconstruct the mini you painted!
                </p>
                </div>
                <div class="image-about">
                    <img src="../static/images/threeDscan.jpg">
                </div>
            </div>

            <hr>

            <div class="section row reverse">
                <div class="image-about">
                    <img src="../static/images/python.svg">
                </div>
                <div class="text">
                    <p>This tool was mainly built using Python language through Flask framework.
                        Python is a high-level, general-purpose programming language known for its simplicity, readability, and versatility.
                        Python emphasizes clean and easy-to-understand code, making it ideal for both beginners and experienced developers.
                        One of Python's greatest strengths is its wide range of applications;
                        it is used in web development, data science, machine learning, automation, scientific computing, game development, and much more.
                    </p>
                </div>
            </div>

            <hr>

            <div class="section row">
                <div class="text">
                    <p>To segment the images, I used SAM2 Large from Ultralytics. 
                        SAM2 is an improved and more powerful version of the original Segment Anything Model (SAM) developed by Meta AI.
                        While the first SAM demonstrated groundbreaking capability in segmenting objects in images with minimal user input (such as a click or a bounding box), SAM2 pushes the boundaries further with enhanced accuracy, robustness, and efficiency.
                        SAM2 incorporates architectural advancements and training improvements that enable it to produce more precise segmentations across a wider range of objects, scenes, and image qualities.
                        It also offers better generalization to complex visual tasks and supports multimodal inputs, such as combining text and visual cues for segmentation.
                        Despite its increased capabilities, SAM2 is optimized for scalability and performance, making it suitable for integration in cloud-based pipelines, research workflows, and advanced computer vision applications in fields like robotics, geospatial analysis, autonomous systems, and large-scale data labeling.
                    </p>
                </div>
                <div class="image-about">
                    <img src="../static/images/ultralytics.svg">
                </div>
            </div>

            <hr>

            <div class="section row reverse">
                <div class="image-about">
                    <img src="../static/images/naver.png">
                </div>
                <div class="text">
                    <p>To perform the 3D reconstruction, I used Dust3r. 
                        DUST3R is an AI model developed to reconstruct 3D structures from 2D images, even when there are no camera calibration parameters or depth annotations.
                        It uses self-supervised learning to understand depth and geometry from image pairs, learning how scenes and objects transform from different views.
                        The key innovation of DUST3R is its ability to match features across images and estimate camera motion and depth maps—all without needing manually labeled data.
                        This makes it powerful for applications like drone mapping, virtual reality, cultural heritage preservation, and robotics, where 3D understanding from limited input is crucial.
                    </p>
                </div>
            </div>

        </div>

    </body>
    <footer>
        <div class = "footer">
            <a href="https://github.com/GustavoSantiago113/MiniAid" target = "_blank" class="footer-icon-link">
                <img src="../static/icons/github.png" class="footer-icon">
            </a>
            <span class = "footer-text">
                Developed by: Gustavo N. Santiago <br> Under the Creative Common NonCommercial License
            </span>
            <a href="https://gustavosantiago.shinyapps.io/WebResume/" target = "_blank" class="footer-icon-link">
                <img src="../static/icons/webResume.png" class="footer-icon">
            </a>
        </div>
    </footer>
</html>