<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>MiniAid</title>
        <link rel="stylesheet" type="text/css" href="../static/styles.css">
        <link rel="icon" type="image/x-icon" href="../static/favico.png">
        <script src="../static/script.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/5.3.0/fabric.min.js"></script>
    </head>
    <body>
        <div class = "body-head">
            <a class = "return-button" href="{{ url_for('post_painting_page') }}">
                <img src="../static/icons/arrow.png" class="return-icon">
                <h4>
                    Return
                </h4>
            </a>
            <div class = "body-text">
                <span class = "title">
                    MiniAid
                </span>
                <span class="subtitle">
                    Post-Painting
                </span>
            </div>
        </div>
        <div class="colors-sketchedimage">
            <div class="file-list">
                {% for frame in frames %}
                <div class="file-item" onclick="selectImage('{{ frame }}', previewImage)">
                    <img src="../static/icons/image.png" class="footer-icon">
                    <span>{{ frame }}</span>
                </div>
                {% endfor %}
            </div>

            <div class="preview-section">
                <div class="image-preview">
                    <img id="preview-image" src="" alt="Select an image" style="display: none;">
                    <span id="no-selection-text">Select an image from the list</span>
                </div>
                
                <div class="action-buttons">
                    <button class="action-button" onclick="openSegmentationModal(previewImage.src, canvas)">
                        <img src="../static/icons/segmentation.png" class="button-icon">
                        Segment Image
                    </button>
                    
                    <button class="action-button">
                        <img src="../static/icons/sculpture.png" class="button-icon">
                        Generate 3D Model
                    </button>
                </div>
            </div>
            
        </div>
        <div id="segmentationModal" class="modal">
            <div class="modal-content">
                <div>
                    <span class="close">&times;</span>
                    <div id="pre-segment-text">
                        <p>Draw a rectangle around the area to be segmented</p>
                        <p>If the image does not come as expected, try drawing a broader rectangle</p>
                    </div>
                    <div id="post-segment-text" style="display: none;">
                        <p>Re-arrange the points to improve the segmentation</p>
                    </div>
                </div>
                <div id="imageContainer">
                    <img id="modalImage" src="" alt="Image">
                    <canvas id="imageCanvas"></canvas>
                </div>
                <div class = "action-button" id="sendToSegment">
                    Segment
                </div>
                <div class = "action-button" id="downloadSegmented" style="display: none;">
                    Download
                </div>
            </div>
        </div>
    </body>
    <footer>
        <div class = "footer">
            <a href="https://github.com/GustavoSantiago113/MiniAid" target = "_blank" class="footer-icon-link">
                <img src="../static/icons/github.png" class="footer-icon">
            </a>
            <span class = "footer-text">
                Developed by: Gustavo N. Santiago <br> Under the Creative Common NonCommercial License
            </span>
            <a href="https://gustavosantiago.shinyapps.io/WebResume/" target = "_blank" class="footer-icon-link">
                <img src="../static/icons/webResume.png" class="footer-icon">
            </a>
        </div>
    </footer>
    <script>
        const previewImage = document.getElementById('preview-image');
        const canvas = document.getElementById("imageCanvas");
    </script>
</html>