<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>MiniAid</title>
        <link rel="stylesheet" type="text/css" href="../static/styles.css">
        <link rel="icon" type="image/x-icon" href="../static/favico.png">
        <script src="../static/script.js"></script>
    </head>
    <body>
        <div class = "body-head">
            <a class = "return-button" href="/">
                <img src="../static/icons/arrow.png" class="return-icon">
                <h4>
                    Return
                </h4>
            </a>
            <div class = "body-text">
                <span class = "title">
                    MiniAid
                </span>
                <span class="subtitle">
                    Pre-Painting
                </span>
                <span class = "description">
                    Transform an image into sketch and select the colors to paint each part!
                </span>
            </div>
            
        </div>
        <div class="central-button">
            <form id="uploadFormImage">
                <input type="file" id="drawImageInput" name="file" accept="image/*" style="display: none;" required>
                <div class="action-button" onclick="document.getElementById('drawImageInput').click();" id="uploadImageCrop">
                    <img src="../static/icons/export.png" class="button-icon">
                    <h4>Upload the image</h4>
                </div>
            </form>
        </div>
    </body>
    <footer>
        <div class = "footer">
            <a href="https://github.com/GustavoSantiago113/MiniAid" target = "_blank" class="footer-icon-link">
                <img src="../static/icons/github.png" class="footer-icon">
            </a>
            <span class = "footer-text">
                Developed by: Gustavo N. Santiago <br> Under the Creative Common NonCommercial License
            </span>
            <a href="https://gustavosantiago.shinyapps.io/WebResume/" target = "_blank" class="footer-icon-link">
                <img src="../static/icons/webResume.png" class="footer-icon">
            </a>
        </div>
    </footer>
    <script>
        document.getElementById("drawImageInput").addEventListener("change", function () {
            sendImageToCrop();
        });
    </script>
</html>