<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>MiniAid</title>
        <link rel="stylesheet" type="text/css" href="../static/styles.css">
        <link rel="icon" type="image/x-icon" href="../static/favico.png">
        <script src="../static/script.js"></script>
    </head>
    <body>
        <div class = "body-head">
            <a class = "return-button" href="{{ url_for('pre_painting_page_crop', filename=originalFileName) }}">
                <img src="../static/arrow.png" class="return-icon">
                <h4>
                    Return
                </h4>
            </a>
            <div class = "body-text">
                <span class = "title">
                    MiniAid
                </span>
                <span class="subtitle">
                    Pre-Painting
                </span>
            </div>
        </div>
        <div class="colors-sketchedimage">
            <div class = "colors">
                <input type="text" id="partInput" placeholder="Part">
                
                <input type="color" id="colorPicker" value="#ff0000">
                
                <button id="addButton" class="add-btn">+</button>

                <div id="partsList"></div>
            </div>
            <div>
               {% if croppedFileName %}
                <img src="{{ url_for('static', filename='uploads/' + croppedFileName) }}" alt="Cropped Image" class="image-crop">
                {% else %}
                    <p>No image found.</p>
                {% endif %} 
            </div>
            
        </div>
        
    </body>
    <footer>
        <div class = "footer">
            <a href="https://github.com/GustavoSantiago113/MiniAid" target = "_blank" class="footer-icon-link">
                <img src="../static/github.png" class="footer-icon">
            </a>
            <span class = "footer-text">
                Developed by: Gustavo N. Santiago <br> Under the Creative Common NonCommercial License
            </span>
            <a href="https://gustavosantiago.shinyapps.io/WebResume/" target = "_blank" class="footer-icon-link">
                <img src="../static/webResume.png" class="footer-icon">
            </a>
        </div>
    </footer>
</html>